<section class="w-100 vh-100 position-relative">

  <div class="image1-container  position-absolute text-end end-0 top-0  bottom-0 m-0 p-0 z-1">
    <img src="../../../../assets/img/Vector 48.png" alt="xx" class="w-100 m-0 p-0 ">
  </div>

  <div class="image2-container  position-absolute start-0 bottom-0 m-0 p-0 z-1 ">
    <img src="../../../../assets/img/Vector 49.png" alt="xx" class="w-75 ">
  </div>

  <div class=" row col-md-5 col-sm-10 z-3 position-absolute top-50 start-50 translate-middle ">
    <div class="container ">

      <div class=" text-center p-1">
        <img src="../../../../assets/img/PMSLogo.svg" alt="xx">
      </div>

      <div class="main-content p-5 shadow rounded">

        <div class="form-title ">
          <p class=" text-white m-0 p-0">Welcome to PMS</p>
          <h2 class="main-form-title "><span class="underLine ">R</span>eset PassWord </h2>
        </div>

         <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword(resetPasswordForm)" class="pt-3">

          <div  class="mt-3 ">
           <label for="userEmail" class=""> E-mail</label>
           <input formControlName="email"
           type="email" name="" id="userEmail"
           placeholder="Enter your E-mail "
           class="form-control bg-transparent border-top-0 ps-0  border-start-0 border-end-0 rounded-0 ">
          </div>

          <div class="mt-3">
            <label for="seed" class=""> OTP Verification</label>
            <input formControlName="seed"
            type="text" name="" id="seed"
            placeholder="Enter Verification "
            class="form-control bg-transparent  ps-0  border-top-0  border-start-0 border-end-0 rounded-0 ">
           </div>

           <div  class="mt-3">
            <label for="password" class="">New password </label>
            <input   formControlName="password"
            type="password" name="" id="password"
            placeholder="Enter your New Password "
            class="form-control bg-transparent  ps-0  border-top-0  border-start-0 border-end-0 rounded-0 ">
           </div>

           <div  class="mt-3">
            <label for="Confirm-password" class="">Confirm password</label>
            <input   formControlName="confirmPassword"
            type="password" name="" id="Confirm-password"
            placeholder="Confirm New Password "
            class="form-control bg-transparent  ps-0  border-top-0  border-start-0 border-end-0 rounded-0 ">
           </div>

           <div class="mt-3 px-2 ">
            <button class="main-btn p-3 mt-3 rounded-pill w-100">Save</button>
           </div>


         </form>
      </div>

    </div>
  </div>

</section>
