<section class="w-100 vh-100 position-relative">

  <div class="image1-container  position-absolute text-end end-0 top-0  bottom-0 m-0 p-0 z-1">
    <img src="../../../assets/img/Vector 48.png" alt="xx" class="w-100 m-0 p-0 ">
  </div>

  <div class="image2-container  position-absolute start-0 bottom-0 m-0 p-0 z-1 ">
    <img src="../../../assets/img/Vector 49.png" alt="xx" class="w-75 ">
  </div>

  <div class=" row col-md-5 col-sm-10 z-3 position-absolute top-50 start-50 translate-middle ">
    <div class="container ">

      <div class=" text-center p-2">
        <img src="../../../assets/img//PMSLogo.svg" alt="xx">
      </div>

      <div class=" main-content p-5 shadow rounded">
        <!-- form -->
         <p>Lorem ipsum dolor sit sunt ipsam repellat doloremque
               fuga commodi possimus, soluta distinctio rem incidunt voluptas at
                temporibus consequuntur placeat doloribus error! Sit itaque quia eveniet optio omnis
                 repudiandae? Dignissimos cum aut necessitatibus! Delectus repellendus alias molestiae
                 explicabo magnam ab dolore tempore, corporis illo? Repellat totam molestias fugiat facilis
                 ipsa delectus dolor quidem similique tenetur quo minus soluta est quas repellendus placeat aperiam
                  velit, rerum, voluptatibus nisi sunt, earum illo? Laborum ipsam odilaboriosam eaque?</p>
      </div>

    </div>
  </div>

</section>

