section{
  overflow: hidden;
  background-image: url(../../../../assets/img/Rectangle.png);

  .image1-container {
    z-index: 555;
    &::before {
      content: url('../../../../assets/img/Vector\ 51.png');
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
  }
    }

    // .image2-container {
    //   // background: red;
    //   &::before {
    //     content: url('../../../assets/img/Vector\ 50.png');
    //     position: absolute;
    //     bottom: -15%;
    //     left: 0;
    //    }

    // }

.main-content{
  background-color: rgba(49, 89, 81, 0.9);
}


}
