.homepage {
  mat-card {
    border: none;
    .border-line {
      height: 43px;
      width: 3px;
      top: 20px;
      background-color: $text-primary;
    }
    mat-card-content{
        margin-top: 1rem;
    }
  }

  //   background-color: $background;
  .welcome {
    background-size: cover;
    background-image: url("../img/home-bg.png");
    padding: 5rem 2rem;
    border-radius: 15px;
    color: white;
    h1 {
      font-weight: $reg-font;
      font-size: $font-36;
      span {
        color: $text-primary;
      }
    }
    h2 {
      font-weight: 400;
      font-size: $font-30;
    }
  }
}
