@import "variables";
@import "backgrounds";
@import "shared";
@import "login-page";
@import "add-edit";
@import "splash";
@import "navbar";
@import "homepage";
* {
  font-family: "inter", sans-serif;
}
body {
  background-color: $background;
  height: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: $base-btn;
}
