@import "variables";
@import "backgrounds";
@import "shared";
@import "login-page";
@import "splash";
@import "homepage";
* {
  font-family: "inter", sans-serif;
}
body{
  background-color: $background;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: $base-btn;
}
