.projects {
  height: 100vh;

  h1 {
    margin: 0;
    font-weight: 500;
  }

  .table-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  .mat-mdc-form-field {
    .mat-mdc-form-field-outline {
      border-radius: 20px !important;
      overflow: hidden;
    }
  }
  table{
    thead{
        tr{
            th{
                background-color: #315951;
                color: white;
                border-right: 1px solid white;
            }
        }
    }
  }
}
