.splash-background {
  background-image: url("../img/Rectangle.png");
  overflow: hidden;
  position: relative; /* Add this to establish stacking context */
}
.text {
  position: absolute;
  z-index: 111;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.left {
  position: relative;
  z-index: 1; /* Lower z-index for background elements */
}

.left__img {
  bottom: 0;
  height: 50%;
  width: 100%;
  max-width: 25rem;
  position: absolute;
  filter: opacity(0.7) drop-shadow(0 0 0 rgba(239, 155, 40, 0.3));
}

.right__img {
  height: 50%;
  right: 0;
  width: 100%;
  max-width: 40rem;
  position: absolute;
  filter: opacity(0.7) drop-shadow(0 0 0 rgba(146, 46, 37, 0.7));
}
