<section class="bg-light vh-100">
    <div class="header-page bg-white p-4 mb-4">
        <a routerLink="/dashboard/manager/projects" class="d-flex align-items-center text-dark">
            <mat-icon>chevron_left</mat-icon>
            <span>view all projects</span>
        </a>
        <h2 class="mt-2 mb-0">Add a New Project</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form [formGroup]="addEditForm" (ngSubmit)="sendData(addEditForm)">
                    <div class="shared-card">
                        <div class="custom-form-field" appearance="outline">
                            <label class="shared-title">Title</label>
                            <input formControlName="title" type="text" id="name" class="custom-input" placeholder="Enter Name">
                        </div>      
                        <div class="custom-form-field" appearance="outline">
                            <label class="shared-title">Description</label>
                            <textarea  formControlName="description" id="description" class="custom-input" placeholder="Enter Description"></textarea>
                        </div>
                        <div class="shared-actions">
                            <a type="button" routerLink="/dashboard/manager/projects" class="shared-cancel-button">Cancel</a>
                            <button type="submit" class="btn main-btn add_new fw-bold">Save</button>
                        </div>
                    </div>      
                </form>          
            </div>
        </div>
    </div>
</section>