$base-btn: #ef9b28;
$secondry-btn: rgba(49, 89, 81, 0.898);
$primary-btn:#009247;
$danger-btn:rgba(146, 46, 37, 0.698);
$text-primary: #ef9b28;
$white-text: #ffff;
$secondry-base: rgba(49, 74, 89, 0.9);
$side-bg: #0e382f;
$hover: rgba(239, 157, 42, 0.302);
$border: #0e382f;
$table-head: rgba(49, 89, 81, 0.898);
$table-border: rgba(49, 89, 81, 0.898);
/*Fonts*/
$light-font: 300;
$reg-font: 400;
$label-font: 500;
$medium-font: 600;
$bold-font: 700;
$extra-bold-font: 900;
$font-8: 0.5rem;
$font-10: 0.625rem;
$font-11: 0.6875rem;
$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.375rem;
$font-24: 1.5rem;
$font-26: 1.625rem;
$font-28: 1.75rem;
$font-30: 1.875rem;
$font-32: 2rem;
$font-36: 2.25rem;
$font-40: 2.5rem;
