<section class="projects">
  <div class="w-100 bg-white">
    <div
      class="container p-5 d-flex justify-content-between align-items-center"
    >
      <h1>Projects</h1>
      <button class="btn main-btn add_new">
        <mat-icon>add</mat-icon><span>Add New Projects</span>
      </button>
    </div>
  </div>
  <div class="container px-5 mt-3">
    <div class="w-100 bg-white table-container">
      <div class="p-3">
        <form [formGroup]="searchForm">
          <mat-form-field appearance="outline" class="custom-search">
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              placeholder="Search By Title"
              formControlName="search"
            />
          </mat-form-field>
        </form>
      </div>

      <div class="table table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Statues</th>
              <th>Num Users</th>
              <th>Num Tasks</th>
              <th>Date Created</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>mohamed</td>
              <td>osama</td>
              <td>mohamed</td>
              <td>osama</td>
              <td>mohamed</td>
              <td>osama</td>
            </tr>
            <tr>
              <td>mohamed</td>
              <td>osama</td>
              <td>mohamed</td>
              <td>osama</td>
              <td>mohamed</td>
              <td>osama</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
