<section class=" ">
    <div class="title px-5 py-3">
      <h2> Task Board </h2>
    </div>
    <div class="row pt-5 pb-2 px-5 ">

    <div cdkDropListGroup>
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="example-container">
            <h2 class="head-title  pb-3 ">To do</h2>
            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="example-list"
              (cdkDropListDropped)="drop($event  )"
            >
              @for (item of todo; track item) {
              <div class="example-box" cdkDrag>{{ item }}</div>
              }
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="example-container">
            <h2 class="head-title  pb-3">In Progress</h2>
            <div
              cdkDropList
              [cdkDropListData]="inProgress"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              @for (item of inProgress; track item) {
              <div class="example-box" cdkDrag>{{ item }}</div>
              }
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="example-container">
            <h2 class="head-title  pb-3">Done</h2>
            <div
              cdkDropList
              [cdkDropListData]="done"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              @for (item of done; track item) {
              <div class="example-box" cdkDrag>{{ item }}</div>
              }
            </div>
          </div>
        </div>
      </div> -->




      <div class="row">
        <div class="col-md-4">
          <div class="example-container">
            <h2 class="head-title  pb-3 ">To do</h2>
            <div
              id="toDo"
              cdkDropList
              [cdkDropListData]="toDoData"
              class="example-list"
              (cdkDropListDropped)="drop($event  )"
            >
              @for (item of toDoData; track item) {
              <div class="example-box" cdkDrag>{{ item.title }}</div>
              }
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="example-container">
            <h2 class="head-title  pb-3">In Progress</h2>
            <div
              id="inProgress"
              cdkDropList
              [cdkDropListData]="inProgressData"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              @for (item of inProgressData; track item) {
              <div class="example-box" cdkDrag>{{ item.title }}</div>
              }
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="example-container">
            <h2 class="head-title  pb-3">Done</h2>
            <div
              id="done"
              cdkDropList
              [cdkDropListData]="doneData"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              @for (item of doneData; track item) {
              <div class="example-box" cdkDrag>{{ item.title }}</div>
              }
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
