<section class="vh-100">
  <div class="splash-background h-100" [@fadeIn]>
    <div class="text h-100 d-flex justify-content-center align-items-center">
      <div class="logo" [@moveUp]="animationState">
        <img src="../../../../assets/img/PMS 2.png" alt="logo" />
      </div>
    </div>
    <div class="left h-100">
      <img
        class="position-absolute left__img"
        src="../../../../assets/img/login2.png"
        alt=""
      />
      <img
        class="position-absolute right__img"
        src="../../../../assets/img/Group 48102070.png"
        alt=""
      />
    </div>
  </div>
</section>
