<mat-toolbar color="primary" class="navbar">
  <div class="logo">
    <a routerLink="/dashboard">
      <img src="../../../../assets/img/navlogo.png" alt="Upskilling" />
    </a>
  </div>
  <div class="d-flex">
    <button
    mat-icon-button
    class="notification-btn"
    matBadge="1"
    matBadgeColor="warn"
  >
    <mat-icon>notifications</mat-icon>
  </button>

  <div class="user-info">
    <img [src]="user?.imagePath || defaultImage" alt="User" class="avatar" />
    <div class="user-details">
      <span class="username me-3">{{ user?.userName || "Upskilling" }}</span>
      <span class="email">{{ user?.email || "upskilling@gmail.com" }}</span>
    </div>
  
    <mat-menu #userMenu="matMenu">
      <button [routerLink]="['/dashboard/profile/', user?.id, true]" mat-menu-item>
        <mat-icon>person</mat-icon> Profile
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
    </mat-menu>
  
    <button class="arrow" mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item><mat-icon>person</mat-icon> Profile</button>
    <button mat-menu-item><mat-icon>exit_to_app</mat-icon> Logout</button>
  </mat-menu>
  </div>
</mat-toolbar>
