<section class=" ">
  <div class="title px-5 py-3">
    <h2> Users </h2>
  </div>
  <div class="row pt-5 pb-2 px-5 ">

    <div class="table table-responsive">
    <table class="table">
      <thead >
        <th> User Name</th>
        <th> Statues</th>
        <th> Phone Number </th>
        <th> Email</th>
        <th>creationDate</th>

      </thead>
      <tbody>
        <tr *ngFor=" let user of allUsers">
          <td >{{user.userName}}</td>

           <td  >
           <a (click)="onToggleActivatedUsers(user)" >
            <button *ngIf="user.isActivated" class="done-active-btn">Active</button>
            <button  *ngIf="!user.isActivated"  class="not-active-btn" > Not Active</button>
           </a>
          </td>

          <!-- <td *ngIf="!user.isActivated" >
            <a (click)="onToggleActivatedUsers(user.id)" >
             <button *ngIf="toggleActive" class="done-active-btn">Active</button>
             <button  *ngIf="!toggleActive"  class="not-active-btn" > Not Active</button>
            </a>
           </td> -->

           <!-- <td *ngIf="!user.isActivated">
            <a (click)="onToggleActivatedUsers(user.task[0].id)" >
               <button [class]="isActive? 'done-active-btn' : 'not-active-btn'" >Not Active</button>
           </a>
          </td> -->

         <td >{{user.phoneNumber}}</td>
          <td >{{user.email}}</td>
          <td >{{user.task[0].creationDate }}</td>


        </tr>
      </tbody>

    </table>
         <mat-paginator [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[3,5, 10, 15]"
      aria-label="Select page"
      (page)="handlePageEvent($event)">
  </mat-paginator>
  </div>






  </div>
  </section>
