<section class=" ">
  <div class="title px-5 py-3">
    <h2> Users </h2>
  </div>
  <div class="row pt-5 pb-2 px-5 ">

    <table class="shadow">
      <thead >
        <th> User Name</th>
        <th> Statues</th>
        <th> Phone Number </th>
        <th> Email</th>
        <th>creationDate</th>

      </thead>
      <tbody>
        <tr *ngFor=" let user of allUsers">
          <td >{{user.userName}}</td>
          <td *ngIf="user.isActivated"> <button class="done-active-btn">Active</button></td>
          <td *ngIf="!user.isActivated"> <button class="not-active-btn">Not Active</button></td>

         <td >{{user.phoneNumber}}</td>
          <td >{{user.email}}</td>
          <td >{{user.task[0].creationDate }}</td>


        </tr>
      </tbody>
    </table>





  </div>
  </section>
