.title{
  background-color: #fff;
  color: #4F4F4F;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;

}

/* For standard HTML tables */
table {
  width: 100%;

  thead tr th {
    background-color: #315951;
    color: white;
    border-right: 1px solid white;
    text-align: left;
    padding: 10px;
  }

  tbody tr:nth-child(odd) {
    background-color: white;
  }

  tbody tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 1);
  }

  tbody td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }
}

/* For Angular Material tables */
.mat-mdc-table {
  width: 100%;

  .mat-mdc-header-row {
    background-color: #315951;

    .mat-mdc-header-cell {
      color: white;
      border-right: 1px solid white;
      padding: 10px;
    }
  }

  .mat-mdc-row:nth-child(odd) {
    background-color: white;
  }

  .mat-mdc-row:nth-child(even) {
    background-color: rgba(245, 245, 245, 1);
  }

  .mat-mdc-cell {
    padding: 10px;
    vertical-align: middle;
  }
}
