/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/layout";






// ------------------------------------------------

// container(form & title)
.main-content{
  background-color: rgba(49, 89, 81, 0.9);
  p{
    font-family: Inter;
   font-weight: 500;
   font-size: 13px;
   line-height: 46px;
   letter-spacing: -0.4px;

  }
  .main-form-title{
    color: rgba(239, 155, 40, 1);
    font-family: Inter;
   font-weight: 700;
   font-size: 32px;
   line-height: 6px;
   letter-spacing: -0.4px;

   .underLine{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 90%;
      height: 4px;
      background-color: rgba(239, 155, 40, 1);
    }
   }
  }

  label{
    color: rgba(239, 155, 40, 1);
  }
 input {
  &::placeholder {
    color: #fff;
  }
 }
}

// Button
.main-btn{
  color: #fff;
  font-weight: 600;
  background-color:rgba(239, 155, 40, 1) ;
  border: none;
  &:hover{
    opacity: .7;
  }
}
